.App{
    font-family: 'Nunito', sans-serif;
}
.section-form {
    height: 360px;
    width: 300px;
    display: block;
    margin: 0 auto;
}
.section-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-register {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.valorTotal{
    padding: 20px;
    background-color: #E34981;
    width: 87%;
    border-radius: 8px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
.buttons {
    display: flex;
}

@media screen and (min-width: 1024px) {
    .App {
        display: flex;
        justify-content: space-around;
    }
    .section-form {
        margin: 0;
        margin-top: 15px;
    }
    .section-list {
        display: block;
        margin-top: 15px;
        width: 600px;
    }
}